.App{
    margin: 0px 20px;
}
.guitter-store{
    text-align: center;
    color: orange;
}
.question-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}
@media screen and(max-width:480px) {
  .question-container{
      grid-template-columns: 1fr;
  }
  .App{
    margin:0px 5px;
  }
}
